BasedOnStyle: Google
IndentWidth: 2
AccessModifierOffset: -2
BreakConstructorInitializers: BeforeColon
AllowShortFunctionsOnASingleLine: Empty
PackConstructorInitializers: Never
IncludeBlocks: Merge
SpaceAfterCStyleCast: True
